body {
    font-family: Arial, sans-serif;
}

#product-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#product-list li {
    margin-bottom: 10px;
}

#cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#clear-cart-btn {
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clear-cart-btn:hover {
    background-color: #3e8e41;
}